/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
body {

  margin: 0;
  padding: 0;
  overflow-x: hidden; /* cegah scroll horizontal */
  background-image:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), 
  url(Foto/Gambar\ Komik.jpg);
  background-size: contain;
}

.container{
    width: 600px;
    margin: auto;
    padding: 5px;
    overflow: auto;
}
.borderatas{
    width: 600px;
    height: 30PX;
    background-color: rgb(148, 189, 236);
    float: top;
    margin-top: 40px;
}
.borderbawah{
    width: 600px;
    height: 20PX;
    background-color: rgb(148, 189, 236);
    float:inline-end;
}
.atas{
    width: 600px;
    height: 200PX;
    background-color: rgb(170, 177, 72);
    float: top;
}

.atas img{
    width: 150px;        
    height: 200px;       
    object-fit:fill;  
    display: block;
    float: right;
}

.atas p {
  margin-top: 0px;
  color: white;
  font-size: 24px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.tengah{
    width: 600px;
    height: 600PX;
    background-color: rgb(181, 218, 228);
    float: top;
}

.tengah p {
  margin-top: 0px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}


.kotak{
    width: 150px;
    height: 150PX;
    background-color: rgb(238, 255, 0);
    float: left;
}

.kotak img{
    width: 150px;        
    height: 150px;       
    object-fit:contain;  
    display: block;
}

.kotak1{
    width: 150px;
    height: 150PX;
    background-color: rgb(158, 148, 0);
    float: left;
}

.kotak1 img{
    width: 150px;        
    height: 150px;       
    object-fit:contain;  
    display: block;
}

.kotak2{
    width: 150px;
    height: 150PX;
    background-color: rgb(37, 91, 206);
    float: left;
}

.kotak2 img{
    width: 150px;        
    height: 150px;       
    object-fit:contain;  
    display: block;
}

.kotak3{
    width: 150px;
    height: 150PX;
    background-color: rgb(81, 175, 86);
    float: left;
}

.kotak3 img{
    width: 150px;        
    height: 150px;       
    object-fit:contain;  
    display: block;
}

h3{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin: 0px;
    padding: 0px;
}

.header {
  width: 100%;      /* pastikan tidak lebih lebar */
  box-sizing: border-box; /* biar padding ikut dihitung */
}

.header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between; 
    gap: 30px;
}

.header ul li {
  display: inline;
  margin-top: 5px;
  margin-right: 20px;
  text-decoration: none;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.header ul li a {
  text-decoration: none; 
  color: rgb(255, 255, 255);  
}